@model IEnumerable<WEB.Areas.Administrator.Models.HoaDon>
@{
    ViewBag.Title = "Doanh Thu Tháng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@{
    DateTime dt = new DateTime();
    dt = DateTime.Now;
    int yy = dt.Year;
    WEB.Areas.Administrator.AdminDB adB = new WEB.Areas.Administrator.AdminDB();
}
<meta charset="utf-8">
<h2>Doanh Thu Tháng @ViewBag.Thang Năm @DateTime.Now.Year</h2>
<hr />
<div>
    <div class="panel panel-default">
        <div class="panel-body" style="width:100%;height:500px;overflow:auto;">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <thead>
                        <tr style="background-color:#eeeeee">
                            <th>#</th>
                            <th>Ngày tạo</th>
                            <th>Tổng cộng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@item.MaHD</td>
                                <td>@item.NgayTao</td>
                                <td>@item.Total.ToString("#,##0") VNĐ</td>
                                <td>
                                    <a href="@Url.Action("Details", "HoaDon",new { id = item.MaHD })" target="_blank"><i class="fa fa-list-alt fa-fw"></i> Xem chi tiết</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>

            </div>
            <div style="position:relative;left: 570px;top:20px;border-bottom:5px solid #a09d9c;width:320px;">
                <strong>TỔNG DOANH THU: </strong>
                <strong style="margin-left: 50px;">@ViewBag.doanhthu VNĐ</strong>
            </div>
            <a href="@Url.Action("DoanhThuNam", "ThongKe")"><i class="fa fa-backward"></i> Quay lại</a>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->

    </div>
    <!-- /.panel -->

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>





