
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

@using System;
@using System.Web.Mvc;

<h2>Thống kê</h2><a href="@Url.Action("Index", "ThongKe")"><span class="fa fa-refresh"> Làm mới</span></a>

<div class="row" style="margin-top:20px;">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-strong-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar" style="font-size:70px"></i>
                    </div>
                    @{
                        DateTime value = new DateTime();
                        value = DateTime.Now;
                        int mm = value.Month;
                        int yy = value.Year;
                    }
                    <div class="col-xs-9 text-right">
                        <div>DOANH THU NĂM @yy</div>
                        <div class="huge">@ViewBag.DoanhThu</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("DoanhThuNam", "ThongKe")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar" style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>DOANH THU THÁNG @mm NĂM @yy<i></i></div>
                        <div class="huge">@ViewBag.DoanhThuThangNam</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("DoanhThuThangNam", "ThongKe")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar-check-o" style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>HÓA ĐƠN ĐÃ HOÀN TẤT</div>
                        <div class="huge">@ViewBag.HoaDonDaHoanTat</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index4", "HoaDon")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar-o " style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>HÓA ĐƠN CHỜ XÁC NHẬN</div>
                        <div class="huge">@ViewBag.HoaDonChoXacNhan</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "HoaDon")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-purple">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-calendar-plus-o" style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>HÓA ĐƠN ĐÃ XÁC NHẬN</div>
                        <div class="huge">@ViewBag.HoaDonDaXacNhan</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index2", "HoaDon")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-motorcycle" style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>HÓA ĐƠN ĐANG GIAO</div>
                        <div class="huge">@ViewBag.HoaDonDangGiao</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index3", "HoaDon")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-pink">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart" style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>SẢN PHẨM HẾT HÀNG</div>
                        <div class="huge">@ViewBag.SanPhamHetHang</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index2", "SanPham")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-light-blue">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users" style="font-size:70px"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>KHÁCH HÀNG MỚI</div>
                        <div class="huge">@ViewBag.NewCus</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "KhachHang")">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>


